<%- include("templates/header") %>
<div class="container-fluid d-flex justify-content-center">
  <div id="error-page-card" class="text-center mx-auto my-4">
    <h1 style="color: red">Error!</h1>
    <div><%= error %></div>
  </div>
</div>
<%- include("templates/footer") %>
